body {
    background-color: rgb(35, 37, 39);
    padding: 5px;
}

.timer {
    color: white;

}

.main {

    margin: 5px;
    height: 90vh;
    width: 100vW;
    color: white;
    border: 2px white solid;
    position: relative;
}

#Start {
    min-height: max-content;
    border-radius: 50%;
    background-color: black;
    color: white;
    align-items: center;
}

.Start {
    text-align: center;
}

.target {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
}

#CountDown {
    font-size: 100px;
    color: red;
    text-align: center;

    display: flex;
    justify-content: center;
}

.Score {
    display: flex;
    justify-content: space-around;
    bottom: 3px;
    color: yellow;
}

.Target {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    display: none;
}

.Target p {
    text-align: center;
    font-weight: 900;
}

.Timer {
    color: white;
}