body{
    text-align: center;
    background: rgb(255, 255, 164);
}
h1{
    color: chartreuse;
    font-size: xxx-large;
    text-shadow: 3px 3px 3px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input-bar{
    width: 100%;
    position: fixed ;
    bottom: 0px;
    padding: 5px;
}
.input-bar div{
    width: 100%;
}
.input-bar div input {
    width:90%;
    
    border-radius: 10px;
    border-color: aqua;
    padding: 5px;
}
.input-bar div button{
    background: white;
    border-radius: 10px;
    min-height :30px;
    border-color: aqua;
}
.items{
    scrollbar-darkshadow-color: black;
    color: green;
    font-family: cursive;
    font-size: larger;
    text-shadow: 1px 1px 1px white;

}
.items li {
    border:2px solid greenyellow;
    background: rgb(255, 255, 164);
    border-radius:5px;
    padding :3px;
    display: flex;
    justify-content : space-evenly
}
.items li button{
    border: none;
    background:none;
    color:red;
    font-weight:700;

}
